
<h1>Motivo <small>Descripción del Motivo</small> </h1>
<hr>


<div class="row text-right">
  <div class="col">
    <button class="btn btn-danger"
            routerLink="/motivos">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
  </div>
</div>



<div class="row animated fadeIn faster">
  <div class="col">

    <form (ngSubmit)="guardar( f )"
          #f="ngForm">

      <div class="form-group">
        <label>Motivo ID</label>
        <input type="text"
               class="form-control"
               placeholder="Motivo ID"
               [(ngModel)]="motivo.id"
               name="id"
               disabled="disabled">
        <small class="form-text text-muted">Este campo es autogenerado</small>
      </div>


      <div class="form-group">
          <label>Descripción</label>
          <input type="text"
                 class="form-control"
                 placeholder="Descripción del Motivo"
                 [(ngModel)]="motivo.des_motivo"
                 name="descripcion"
                 required>
      </div>
      

      <hr>
      <div class="form-group text-center">
        <button type="submit"
                class="btn btn-primary w-25">
          <i class="fa fa-save"></i>
          Guardar
        </button>
      </div>


    </form>


  </div>
</div>


