
<h1>Motivo</h1>
<hr>


<div class="row text-right">
  <div class="col">
    <button class="btn btn-danger"
            routerLink="/motivos">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
  </div>
</div>



<div class="row animated fadeIn faster">
  <div class="col">

    <form (ngSubmit)="guardar( forma )"
          #forma="ngForm">

      <div class="form-group">
        <label>Motivo</label>
        <input type="text"
               class="form-control"
               placeholder="Motivo"
               [(ngModel)]="motivo.motivo"
               name="motivo"
               disabled="disabled">
        <small class="form-text text-muted">Este campo es autogenerado</small>
      </div>


      <div class="form-group">
          <label>Descripción</label>
          <input type="text"
                 class="form-control"
                 placeholder="Descripción del Motivo"
                 [class.is-invalid]="des_motivo.invalid && des_motivo.touched"
                 [(ngModel)]="motivo.des_motivo"
                 name="des_motivo"
                 #des_motivo="ngModel"
                 required>
          <small *ngIf="des_motivo.invalid && des_motivo.touched" class="form-text text-danger">Este campo es obligatorio</small>
      </div>
      <div class="form-group">
          <label>Descripción</label>
          <input type="text"
                 class="form-control"
                 placeholder="Estado"
                 [class.is-invalid]="estado.invalid && estado.touched"
                 [(ngModel)]="motivo.estado"
                 name="estado"
                 #estado="ngModel"
                 required>
          <small *ngIf="estado.invalid && estado.touched" class="form-text text-danger">Este campo es obligatorio</small>
      </div>
      <div class="form-group">
          <label>Descripción</label>
          <input type="text"
                 class="form-control"
                 placeholder="Tipo"
                 [class.is-invalid]="tipo.invalid && tipo.touched"
                 [(ngModel)]="motivo.tipo"
                 name="tipo"
                 #tipo="ngModel"
                 required>
          <small *ngIf="tipo.invalid && tipo.touched" class="form-text text-danger">Este campo es obligatorio</small>
      </div>
      

      <hr>
      <div class="form-group text-center">
        <button type="submit"
                class="btn btn-primary w-25">
          <i class="fa fa-save"></i>
          Guardar
        </button>
      </div>


    </form>


  </div>
</div>


